html, body {
    height: 100%;
    margin: 0;
    background-color: #EDE9EC;
    color: #ffa600;
}

body {
    display: flex;
    font-family: Oswald, sans-serif;
    align-items: center;
    flex-direction: column;
}

.header {
    min-height: 48px;
    width: 400px;
    margin: 16px 16px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid #2E0014;
    background-color: #bde0fe;
    font-weight: bold;
    font-size: 24px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 40px;
}

.canvas-container {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    gap: 40px;
    margin-top: 64px;
}

.options {
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

button {
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #2E0014;
    border-radius: 12px;
    background-color: #bde0fe;
    font-weight: 500;
    font-size: 15px;
    transition: transform ease 0.2s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}

.canvas {
    display: flex;
    width: 400px;
    height: 400px;
    border: 3px solid #2E0014;
    flex-wrap: wrap;
    border-radius: 12px;
    overflow: hidden;
}

.box {
    width: 25px;
    aspect-ratio: 1;
    flex-shrink: 0;
    box-sizing: border-box;
}

.box:hover {
    transform: scale(1.5);
    transition: transform .2s ease-in-out;
}

.neural-network {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 16px;
}

#network-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hidden-layer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.hidden-layer .node {
    width: 25px;
    box-sizing: border-box;
    border: 2px solid #2E0014;
    border-radius: 3px;
    aspect-ratio: 1;
    background-color: #bde0fe;
}